@import '../variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.rolling {
  border: 0.5em solid lightskyblue;
  border-right: none;
  border-left: none;
  border-radius: 50%;
  color: $white;
}

.text {
  position: absolute;
  font-size: 1.75em;
}

.small {
  height: 20vw;
  width: 20vw;
  animation: spin 250ms linear infinite;
}

.large {
  height: 30vw;
  width: 30vw;
  animation: loadingSpin 1.5s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loadingSpin {
  0% {
      height: 30vw;
      width: 30vw;
      transform: rotate(0deg);
      border-width: 0.5em;
  }

  50% {
      height: 60vw;
      width: 60vw;
      transform: rotate(180deg);
      border-width: 1em;
  }

  100% {
    height: 30vw;
    width: 30vw;
    transform: rotate(360deg);
    border-width: 0.5em;
  }
}