@import '../variables.scss';

.container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  // height: 100%;
  padding: 1em;
  background-color: $light-gray;
}

.chatContainer {
  flex: 1 1 auto;
  background-color: $mid-gray;
  color: $black;
  border: 1px solid $light-gray;
  border-radius: 0.25em;
  margin-bottom: 1em;
  height: 40vh;
  overflow-x: scroll;
  box-shadow: 1px 1px 2px $light-gray;
}

.inputContainer {
  background-color: $white;
  padding: 0.55em;
  border-radius: 0.25em;
}

.input {
  width: 100%;
}

.messageList {
  list-style: none;
  padding-left: 0.5em;
}

.name {
  font-weight: 600;
  margin-right: 0.5em;
}

.isDM { color: $error-red; }

.isMe { color: $primary-blue; }

.isPlayer { color: $success-green; }

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.button {
  height: 4em;
  font-weight: 600;
  letter-spacing: 0.1em;
  width: 30vw;
  max-width: 15em;
  border-radius: 0.25em;
  color: $white;
  margin: 1em;
}

.rollButton {
  background-color: $error-red;
  border: $red-button-border;
}

.sendMessageButton {
  background-color: $primary-blue;
  border: $blue-button-border;
}