@import '../../variables.scss';

.button {
  cursor: pointer;
  border: none;
  width: 30vw;
  max-width: 12em;
  height: 3em;
  color: $white;
  border-radius: 0.25em;
  font-size: 1.15em;
}

.primary {
  background: $primary-button-gradient;
}

.success {
  background: $success-button-gradient;
}

.error {
  background: $error-button-gradient;
}