@import '../variables.scss';

.container {
  flex: 1 1 auto;
  overflow: scroll;
  background-color: $dark-gray;
  display: flex;
  flex-flow: column nowrap;
  color: $white;
  display: flex;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5em;
}

.button {
  padding: 1em 1.5em;
  height: 3em;
  color: $white;
  border: 1px solid $white;
  border-radius: 0.25em;
  font-size: 1.15em;
}

.primary {
  background-color: $primary-blue;
}

.secondary {
  background-color: $success-green;
}

.warning {
  background-color: $error-red;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.label {
  font-weight: 600;
  font-size: 1.15em;
  display: block;
  padding-bottom: 1em;
  color: $white;
}

.input {
  width: 60vw;
  min-width: 20em;
  background-color: $white;
  border-radius: 0.25em;
  height: 3.5em;
  border: 1px solid $light-gray;
  padding-left: 10px;
}

.message {
  font-size: 1.5em;
  padding: 1em;
  background-color: $white;
  border-radius: 0.25em;
  color: $error-red;
  margin: 2em;
}

.fade {
  opacity: 0.3;
}

.gamesList {
  list-style: none;
  padding: 1em 2em;
  margin: 0 3em;
  width: 65%;
  max-width: 30em;
  font-size: 1.5em;
}

.singleGame {
  margin-bottom: 2em;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: 1px solid $light-gray;
  color: $black;
  background-color: $white;
}