@import '../variables.scss';

.container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1em;
  overflow: auto;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 5em;
}


.inputContainer {
  background-color: $white;
  border-radius: 0.25em;
  padding: 1em;
}

.input {
  width: 100%;
}

.message {
  position: absolute;
  top: 5em;
  font-size: 0.75em;
  padding: 0.5em;
  background-color: $white;
  border-radius: 0.25em;
  color: $error-red;
  margin: 2em;
}

.fade {
  opacity: 0.3;
}

.yourGamesTitle {
  text-align: center;
}